.calculation-container {
    margin-top: 20px;
    position: sticky;
    top: 50px;
}

.calculation-container h2 {
    margin-bottom: 20px;
    color: blueviolet;
    margin-top: 20px;
}

.break-btn button {
    border: none;
    background-color: aliceblue;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.break-btn button:last-child {
    margin-right: none;
}

.exercise-time h2 {
    margin-top: 20px;
}

.time-add {
    background-color: aliceblue;
    padding: 10px;
    width: 96%;
    border-radius: 10px;
    margin-top: 10px;
}

.time-add span {
    margin-right: 30px;
    margin-top: 10px;


}